<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<input type="text" id="adrs" placeholder="enter grid ddress">
<input type="text" id="val" placeholder="enter grid maximum power">
<button id="grid" onclick="test()">create grid</button>

<script>
function test(){
	var adrs = document.getElementById('adrs').value;
	var max_power= document.getElementById('val').value;
	alert('grid creation process initiated');
	$.post('/powerGrid/newGrid/',{adrs:adrs,max_power:max_power})
}

</script>